/* 

form {
    margin: 2rem;
    width: 350px;
    background-color: white;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.form-box {
    padding: 0.5rem;
    clear: both;
    position: relative;
}

.form-box label {
    font-size: 1rem;
    float: left;
    width: 150px;
    margin-right: 20px;
}

.form-box input {
    font-size: 1rem;
    width: 75px;
    padding: 0.25rem 1rem;
}

.form-box select {
    font-size: 1rem;
    width: 150px;
    padding: 0.25rem 1rem;
}

.form-box option {
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}

.form-box input[type="checkbox"] {
    font-size: 1rem;
}

.form-box button {
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
} */

/* .error::after {
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    content: attr(data-errormsg);
}
 */

/* .form-box-button button {
    font-size: 1rem;
    border: 0.5rem;
    padding: 0.1 rem 0.5rem;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    align-items: center;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}